span{
  margin: 10;
}

* a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

* button {
  padding: 8px;
  margin-left: 10px;
  cursor: pointer;
  background-color: #8feced;
  color: rgb(161, 73, 73);
  border: none;
  border-radius: 5px;
}

* button:hover {
  background-color: #45a049;
}


.folder:before {
  content: "\1F4C1"; /* Unicode character for a folder icon */
  font-size: 40px;
  margin-bottom: 10px;
}
.file:before {
  content: "\1F4C4"; /* Unicode character for a document icon */
  font-size: 30px;
  margin-right: 10px;
}

