.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: stretch;
    /* flex-grow: 3; */
    /* justify-content: space-between; */
    flex-basis : 25%;
    justify-content: space-around;
    padding: 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  } 